@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

/* animated placeholder */
.aph {
	@apply opacity-80 placeholder animate-pulse;
}

/* animated placeholder avatar */
.apa {
	@apply opacity-80 animate-pulse;
}
